# Core functionality - changes here should be rare!
/src/app.py                   @Dvkant
/src/backend/database.py      @Dvkant
/src/backend/routers/auth.py  @Dvkant

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Dvkant
